<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <span>({{game_name}})</span>
    <p>{{description}}</p>
  </div>
  <div class="meta">
    {{helpful_count}} {{format_plural "helpful" helpful_count}} by {{user.username}}
    |
    {{unhelpful_count}} {{format_plural "unhelpful" unhelpful_count}} by {{user.username}} 
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>