<article class="post">
  <div class="title">
    <span>({{title}})</span>
    <span>({{game_name}})</span>
    <span>({{description}})</span>
  </div>
  <div class="meta">
    {{helpful_count}} {{format_plural "helpful" helpful_count}} by {{user.username}} on {{format_date created_at}}
    |
    {{unhelpful_count}} {{format_plural "unhelpful" unhelpful_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>